<header>
  <div class="header-content">
    <div style="display: flex; align-items: center; gap: 10px;">
      <i (click)="closChat()" class="bi bi-arrow-left-circle-fill tag" style="font-size: 25px; padding: 5px;"></i>
      <div class="title-logo" style="display: flex; align-items: center; gap: 10px;">
        <img class="profile-bot" src="https://img.freepik.com/fotos-premium/um-personagem-3d-de-menino-negro-gerado-por-ai_911330-241.jpg" alt="Logo" style="width: 30px; height: 30px;"/>
        {{botname}}
        <i class="bi bi-patch-check tag"></i>
        <span class="desc">by M'Dev</span></div>
    </div>
  </div>
</header>
<div class="info">
  <span class="desc obs-chat"><span class="tag animate">OBS:</span> A IA não possui a capacidadade de se<br>lembrar de mensagens anteriores</span>
  <span class="date animate">18 de Dezembro de 2024</span>
</div>
