<div class="viewer-container">
  <div class="header-viewer">
    <i (click)="onBack()"  class="bi bi-arrow-left-circle-fill tag" style="font-size: 25px; padding: 5px;"></i>
    <div class="box-profile">
      <img src="https://img.freepik.com/fotos-premium/um-personagem-3d-de-menino-negro-gerado-por-ai_911330-241.jpg" alt="">
      <div class="profile-txt">
        <span class="author-name">Luciano Mendes</span>
        <span class="desc">IFMA - Campus Itapecuru-Mirim</span>
      </div>
    </div>
  </div>

  <div class="content">
    <a href="#"><img class="folder" src="https://cdn.awsli.com.br/600x1000/78/78037/produto/244006696/urso-pardo-safari-ltd-miniatura-animal-moderno-mam-fero--1--u58q0zilcg.jpg" /></a>
  <div class="infos">
    <span class="insta"><a target="_blank" href="#"><i style="margin-right: 10px;" class="bi bi-instagram"></i><span style="color: #fff;">&#64;</span>luciano_mendesz9</a></span>
    <p style="text-align: center; width: 90%; margin: auto;" class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repellendus, nesciunt suscipit aliquam dicta assumenda. Quia, officiis. Omnis consequatur totam praesentium animi adipisci similique deleniti, at dicta dignissimos cum ad?</p>
  </div>
  </div>

  <div class="box-in">
    <input type="text" name="comentario" id="comentario" placeholder="Seu comentário">
    <div class="send-icon" style="background-color: var(--primary-color);">
      <p class="bi bi-sign-turn-right"></p>
    </div>
  </div>

</div>
