.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 60px auto;
}

.desc {
  margin-top: 10px;
  font-size: 15px;
  width: 90%;
  text-align: left;
}

.banner {
  width: 90%;
  height: 200px;
  margin-top: 20px;
}
